<a href="https://colab.research.google.com/github/Ahmad-Nedal/TH2/blob/main/visit_points_diag_diff_time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  12.2.2022 Select first Diagnosis

In [ ]:
# 21.11.2021 Select first and last Diagnosis
import pandas as pd
from datetime import datetime
from google.colab import drive
#drive.mount('/content/drive')
#sample_df= pd.read_csv("/content/drive/MyDrive/thesis2/DTI-606.csv", index_col=0, parse_dates=True)
sample_df = pd.read_csv('https://raw.githubusercontent.com/Ahmad-Nedal/TH2/main/DTI-606.csv')

sample_df['EXAMDATE'] =  pd.to_datetime(sample_df['EXAMDATE'], format='%m/%d/%Y')
unique_df = sample_df['RID'].unique().tolist()

In [ ]:
#The=is is for testign purposes
sample_df

,Unnamed: 0,RID,EXAMDATE,Diagnosis,AGE,PTGENDER,FA_CST_L_DTIROI_04_30_14,FA_CST_R_DTIROI_04_30_14,FA_ICP_L_DTIROI_04_30_14,FA_ICP_R_DTIROI_04_30_14,...,AD_SCC_R_DTIROI_04_30_14,AD_RLIC_L_DTIROI_04_30_14,AD_RLIC_R_DTIROI_04_30_14,AD_TAP_L_DTIROI_04_30_14,AD_TAP_R_DTIROI_04_30_14,AD_SUMGCC_DTIROI_04_30_14,AD_SUMBCC_DTIROI_04_30_14,AD_SUMSCC_DTIROI_04_30_14,AD_SUMCC_DTIROI_04_30_14,AD_SUMFX_DTIROI_04_30_14
0,1,123,2014-02-12,3,81.297267,1,0.337939,0.321122,0.304593,0.293350,...,0.001850,0.001268,0.001239,0.002371,0.002437,0.001713,0.002074,0.001883,0.001914,0.003067
1,2,123,2013-03-21,2,80.401092,1,0.355740,0.336685,0.271300,0.303025,...,0.001780,0.001257,0.001170,0.002719,0.002392,0.001706,0.002025,0.001841,0.001873,0.002873
2,3,778,2013-09-04,3,79.367217,1,0.270231,0.354589,0.289374,0.296236,...,0.001794,0.001301,0.001313,0.002684,0.002336,0.001798,0.002145,0.001938,0.001985,0.003776
3,4,908,2014-01-06,2,70.121308,2,0.376158,0.390559,0.334983,0.329103,...,0.001718,0.001276,0.001262,0.002667,0.002125,0.001765,0.002238,0.001937,0.002022,0.002988
4,5,934,2013-10-22,1,76.978142,2,0.392770,0.408736,0.313411,0.298232,...,0.001601,0.001297,0.001215,0.002041,0.002022,0.001667,0.001874,0.001617,0.001717,0.002768
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,5265,2013-08-12,1,75.100000,2,0.372383,0.364405,0.287174,0.289575,...,0.001703,0.001269,0.001209,0.002382,0.002039,0.001758,0.001921,0.001770,0.001821,0.002910
602,603,5266,2013-08-15,1,65.900000,1,0.390014,0.405669,0.313660,0.338402,...,0.001741,0.001137,0.001155,0.002113,0.002047,0.001588,0.001972,0.001751,0.001785,0.002724
603,604,5277,2013-08-28,1,71.800000,2,0.393212,0.404156,0.319351,0.293922,...,0.001564,0.001158,0.001117,0.001755,0.001689,0.001580,0.001742,0.001615,0.001653,0.002637
604,605,5288,2013-09-25,1,81.900000,2,0.323476,0.342462,0.297100,0.258842,...,0.001672,0.001216,0.001278,0.002580,0.002114,0.001624,0.001860,0.001739,0.001756,0.002714
605,606,5292,2013-11-12,1,74.300000,2,0.379711,0.389732,0.350747,0.353419,...,0.001555,0.001200,0.001199,0.001719,0.001432,0.001679,0.001682,0.001589,0.001639,0.002198

In [ ]:
# Testing here
# Taha Added this to take all columns for the min ExamDate and save it in the outMtrx list
outMtrx = []
for SID in unique_df:
  sub_diagg_df = sample_df.loc[sample_df['RID'] == SID]
  tmp = sub_diagg_df['EXAMDATE'].idxmin()
  outMtrx.append(sample_df.loc[tmp])
  tmp = []

In [ ]:
df_out = pd.DataFrame(outMtrx)
df_out.to_csv('All_Fields.csv')

In [ ]:
df1=df_out
df_out

,Unnamed: 0,RID,EXAMDATE,Diagnosis,AGE,PTGENDER,FA_CST_L_DTIROI_04_30_14,FA_CST_R_DTIROI_04_30_14,FA_ICP_L_DTIROI_04_30_14,FA_ICP_R_DTIROI_04_30_14,...,AD_SCC_R_DTIROI_04_30_14,AD_RLIC_L_DTIROI_04_30_14,AD_RLIC_R_DTIROI_04_30_14,AD_TAP_L_DTIROI_04_30_14,AD_TAP_R_DTIROI_04_30_14,AD_SUMGCC_DTIROI_04_30_14,AD_SUMBCC_DTIROI_04_30_14,AD_SUMSCC_DTIROI_04_30_14,AD_SUMCC_DTIROI_04_30_14,AD_SUMFX_DTIROI_04_30_14
1,2,123,2013-03-21,2,80.401092,1,0.355740,0.336685,0.271300,0.303025,...,0.001780,0.001257,0.001170,0.002719,0.002392,0.001706,0.002025,0.001841,0.001873,0.002873
2,3,778,2013-09-04,3,79.367217,1,0.270231,0.354589,0.289374,0.296236,...,0.001794,0.001301,0.001313,0.002684,0.002336,0.001798,0.002145,0.001938,0.001985,0.003776
3,4,908,2014-01-06,2,70.121308,2,0.376158,0.390559,0.334983,0.329103,...,0.001718,0.001276,0.001262,0.002667,0.002125,0.001765,0.002238,0.001937,0.002022,0.002988
4,5,934,2013-10-22,1,76.978142,2,0.392770,0.408736,0.313411,0.298232,...,0.001601,0.001297,0.001215,0.002041,0.002022,0.001667,0.001874,0.001617,0.001717,0.002768
5,6,2007,2010-07-06,2,83.400000,2,0.380674,0.374772,0.343332,0.357956,...,0.002028,0.001394,0.001472,0.002873,0.002909,0.001804,0.002211,0.002130,0.002086,0.003499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,5265,2013-08-12,1,75.100000,2,0.372383,0.364405,0.287174,0.289575,...,0.001703,0.001269,0.001209,0.002382,0.002039,0.001758,0.001921,0.001770,0.001821,0.002910
602,603,5266,2013-08-15,1,65.900000,1,0.390014,0.405669,0.313660,0.338402,...,0.001741,0.001137,0.001155,0.002113,0.002047,0.001588,0.001972,0.001751,0.001785,0.002724
603,604,5277,2013-08-28,1,71.800000,2,0.393212,0.404156,0.319351,0.293922,...,0.001564,0.001158,0.001117,0.001755,0.001689,0.001580,0.001742,0.001615,0.001653,0.002637
604,605,5288,2013-09-25,1,81.900000,2,0.323476,0.342462,0.297100,0.258842,...,0.001672,0.001216,0.001278,0.002580,0.002114,0.001624,0.001860,0.001739,0.001756,0.002714
605,606,5292,2013-11-12,1,74.300000,2,0.379711,0.389732,0.350747,0.353419,...,0.001555,0.001200,0.001199,0.001719,0.001432,0.001679,0.001682,0.001589,0.001639,0.002198

In [ ]:
#!cp All_Fields.csv "drive/My Drive/"

#  21.11.2021 Select first and last Diagnosis

In [ ]:
# 21.11.2021 Select first and last Diagnosis
# Work again 2022.05.27
import pandas as pd
from datetime import datetime

#from google.colab import drive
#drive.mount('/content/drive')
#sample_df= pd.read_csv("/content/drive/MyDrive/DTI/New_No_NaNs.csv", index_col=0, parse_dates=True)
sample_df = pd.read_csv('https://raw.githubusercontent.com/Ahmad-Nedal/TH2/main/DTI-606.csv')

sample_df['EXAMDATE'] =  pd.to_datetime(sample_df['EXAMDATE'], format='%m/%d/%Y')
unique_df = sample_df['RID'].unique().tolist()

In [ ]:
outMtrx = []
for SID in unique_df:
  sub_diagg_df = sample_df.loc[sample_df['RID'] == SID]
  tmp = [SID, sample_df.loc[sub_diagg_df['EXAMDATE'].idxmin(), 'Diagnosis'],sample_df.loc[sub_diagg_df['EXAMDATE'].idxmax(), 'Diagnosis']]
  outMtrx.append(tmp)
  tmp = []

In [ ]:
# Take only min and remove from the original dataframe and re-run the code
outMtrx = []
for SID in unique_df:
  sub_diagg_df = sample_df.loc[sample_df['RID'] == SID]
  if len(sub_diagg_df) > 0:
    tmp = [SID, sample_df.loc[sub_diagg_df['EXAMDATE'].idxmin(), 'Diagnosis']]
    sample_df = sample_df.drop(sub_diagg_df['EXAMDATE'].idxmin())
    outMtrx.append(tmp)
    tmp = []

In [ ]:
first_visit = outMtrx

In [ ]:
df_out = pd.DataFrame(first_visit, columns = ['RID', 'First_Diag'])
df_out.to_csv('First_Diag.csv')

In [ ]:
# Take only min and remove from the original dataframe and re-run the code
outMtrx = []
for SID in unique_df:
  sub_diagg_df = sample_df.loc[sample_df['RID'] == SID]
  if len(sub_diagg_df) > 0:
    tmp = [SID, sample_df.loc[sub_diagg_df['EXAMDATE'].idxmin(), 'Diagnosis']]
    sample_df = sample_df.drop(sub_diagg_df['EXAMDATE'].idxmin())
    outMtrx.append(tmp)
    tmp = []

In [ ]:
second_visit = outMtrx

In [ ]:
df_out = pd.DataFrame(second_visit, columns = ['RID', 'Second_Diag'])
df_out.to_csv('Second_Diag.csv')

In [ ]:
# Take only min and remove from the original dataframe and re-run the code
outMtrx = []
for SID in unique_df:
  sub_diagg_df = sample_df.loc[sample_df['RID'] == SID]
  if len(sub_diagg_df) > 0:
    tmp = [SID, sample_df.loc[sub_diagg_df['EXAMDATE'].idxmin(), 'Diagnosis']]
    sample_df = sample_df.drop(sub_diagg_df['EXAMDATE'].idxmin())
    outMtrx.append(tmp)
    tmp = []

In [ ]:
Third_visit = outMtrx

In [ ]:
df_out = pd.DataFrame(Third_visit, columns = ['RID', 'Third_Diag'])
df_out.to_csv('Third_Diag.csv')

In [ ]:
# Take only min and remove from the original dataframe and re-run the code
outMtrx = []
for SID in unique_df:
  sub_diagg_df = sample_df.loc[sample_df['RID'] == SID]
  if len(sub_diagg_df) > 0:
    tmp = [SID, sample_df.loc[sub_diagg_df['EXAMDATE'].idxmin(), 'Diagnosis']]
    sample_df = sample_df.drop(sub_diagg_df['EXAMDATE'].idxmin())
    outMtrx.append(tmp)
    tmp = []

In [ ]:
Forth_visit = outMtrx

In [ ]:
df_out = pd.DataFrame(Forth_visit, columns = ['RID', 'Forth_Diag'])
df_out.to_csv('Forth_Diag.csv')

In [ ]:
# Take only min and remove from the original dataframe and re-run the code
outMtrx = []
for SID in unique_df:
  sub_diagg_df = sample_df.loc[sample_df['RID'] == SID]
  if len(sub_diagg_df) > 0:
    tmp = [SID, sample_df.loc[sub_diagg_df['EXAMDATE'].idxmin(), 'Diagnosis']]
    sample_df = sample_df.drop(sub_diagg_df['EXAMDATE'].idxmin())
    outMtrx.append(tmp)
    tmp = []

In [ ]:
Fifth_visit = outMtrx

In [ ]:
df_out = pd.DataFrame(Fifth_visit, columns = ['RID', 'Fifth_Diag'])
df_out.to_csv('Fifth_Diag.csv')

In [ ]:
len(first_visit) + len(second_visit) + len(Third_visit) + len(Forth_visit) + len(Fifth_visit)

606

In [ ]:
##################################################################################################################################################################################################################################
##################################################################################################################################################################################################################################
##################################################################################################################################################################################################################################
##################################################################################################################################################################################################################################
##################################################################################################################################################################################################################################
##################################################################################################################################################################################################################################
##################################################################################################################################################################################################################################
##################################################################################################################################################################################################################################
##################################################################################################################################################################################################################################
##################################################################################################################################################################################################################################
##################################################################################################################################################################################################################################
##################################################################################################################################################################################################################################
##################################################################################################################################################################################################################################

# Add first and second Diag and time difference 
# 21.11.2021 Select first and last Diagnosis
# Work again 2022.05.27
import pandas as pd
from datetime import datetime

#from google.colab import drive
#drive.mount('/content/drive')
#sample_df= pd.read_csv("/content/drive/MyDrive/DTI/New_No_NaNs.csv", index_col=0, parse_dates=True)
sample_df = pd.read_csv('https://raw.githubusercontent.com/Ahmad-Nedal/TH2/main/DTI-606.csv')

sample_df['EXAMDATE'] =  pd.to_datetime(sample_df['EXAMDATE'], format='%m/%d/%Y')
unique_df = sample_df['RID'].unique().tolist()

In [ ]:
# Take only min and remove from the original dataframe and re-run the code and add exam date
outMtrx = []
for SID in unique_df:
  sub_diagg_df = sample_df.loc[sample_df['RID'] == SID]
  if len(sub_diagg_df) > 0:
    tmp = [SID, sample_df.loc[sub_diagg_df['EXAMDATE'].idxmin(), 'Diagnosis'], sample_df.loc[sub_diagg_df['EXAMDATE'].idxmin(), 'EXAMDATE']]
    sample_df = sample_df.drop(sub_diagg_df['EXAMDATE'].idxmin())
    outMtrx.append(tmp)
    tmp = []

In [ ]:
first_with_time = pd.DataFrame (outMtrx, columns = ['RID', 'Diagnosis', 'EXAMDATE'])

In [ ]:
# Take only min and remove from the original dataframe and re-run the code and add exam date
outMtrx = []
for SID in unique_df:
  sub_diagg_df = sample_df.loc[sample_df['RID'] == SID]
  if len(sub_diagg_df) > 0:
    tmp = [SID, sample_df.loc[sub_diagg_df['EXAMDATE'].idxmin(), 'Diagnosis'], sample_df.loc[sub_diagg_df['EXAMDATE'].idxmin(), 'EXAMDATE']]
    sample_df = sample_df.drop(sub_diagg_df['EXAMDATE'].idxmin())
    outMtrx.append(tmp)
    tmp = []

In [ ]:
second_with_time = pd.DataFrame (outMtrx, columns = ['RID', 'Diagnosis', 'EXAMDATE'])

In [ ]:
merged_first_second = pd.merge(first_with_time, second_with_time, on=['RID'], how='inner')

In [ ]:
merged_first_second

      RID  Diagnosis_x EXAMDATE_x  Diagnosis_y EXAMDATE_y
0     123            2 2013-03-21            3 2014-02-12
1    2007            2 2010-07-06            2 2011-03-24
2    2031            2 2010-09-01            2 2011-02-08
3    2047            2 2010-09-07            2 2011-03-04
4    2052            2 2010-09-20            2 2011-03-15
..    ...          ...        ...          ...        ...
172  5079            1 2013-02-26            1 2013-09-03
173  5083            1 2013-03-04            1 2014-04-01
174  5093            1 2013-03-11            1 2013-09-18
175  5095            3 2013-03-15            3 2013-09-17
176  5109            1 2013-04-01            1 2013-09-26

[177 rows x 5 columns]

In [ ]:
days_difference = abs((merged_first_second['EXAMDATE_x'] - merged_first_second['EXAMDATE_y']).dt.days)

In [ ]:
merged_first_second['Days_Diff'] = days_difference

In [ ]:
merged_first_second

      RID  Diagnosis_x EXAMDATE_x  Diagnosis_y EXAMDATE_y  Days_Diff
0     123            2 2013-03-21            3 2014-02-12        328
1    2007            2 2010-07-06            2 2011-03-24        261
2    2031            2 2010-09-01            2 2011-02-08        160
3    2047            2 2010-09-07            2 2011-03-04        178
4    2052            2 2010-09-20            2 2011-03-15        176
..    ...          ...        ...          ...        ...        ...
172  5079            1 2013-02-26            1 2013-09-03        189
173  5083            1 2013-03-04            1 2014-04-01        393
174  5093            1 2013-03-11            1 2013-09-18        191
175  5095            3 2013-03-15            3 2013-09-17        186
176  5109            1 2013-04-01            1 2013-09-26        178

[177 rows x 6 columns]

In [ ]:
df_out = pd.DataFrame(merged_first_second, columns = ['RID', 'Diagnosis_x', 'EXAMDATE_x',  'Diagnosis_y', 'EXAMDATE_y', 'Days_Diff'])
df_out.to_csv('Diag1_Diag2_Days_Difference.csv')